<form [formGroup]="form">
  <section>
    <article>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"
            >Enter your own name</span
          >
        </div>
        <input
          formControlName="realName"
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </article>
    <article class="">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"
            >Enter a party id</span
          >
        </div>
        <input
          formControlName="partyId"
          type="text"
          class="form-control"
          placeholder="PartyId"
          aria-label="PartyId"
          aria-describedby="basic-addon1"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!this.form.get('partyId').value"
        (click)="joinExistingParty()"
      >
        Join existing party
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="this.form.invalid"
        (click)="createParty()"
      >
        Create your own party
      </button>
    </article>
  </section>
</form>
