<form [formGroup]="formCreate" (ngSubmit)="createParty()">
  <section>
    <article>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"
            >Enter your own name</span
          >
        </div>
        <input
          formControlName="userName"
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </article>
    <article class="">
      <button type="submit" class="btn btn-primary">
        Create your own party
      </button>
    </article>
  </section>
</form>
