<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="page">
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
      <img class="logo" src="../assets/maskedName.png"
    /></a>

    <img class="subtitle" src="../assets/subtitle.png" />
  </nav>
  <div class="main container">
    <router-outlet></router-outlet>
  </div>
</div>
