<h2>Participants</h2>
PARTY ID: {{ party?.id }}

<button [cdkCopyToClipboard]="'longText'" [cdkCopyToClipboardAttempts]="5">
  Copy text
</button>

<div class="container row">
  <ul class="list-group col-sm-3">
    <li
      *ngFor="let participant of party?.participants | keyvalue"
      class="list-group-item"
    >
      {{ participant.value.realName }}
      <span *ngIf="participant.key === userId" class="badge badge-success"
        >you</span
      >
    </li>
  </ul>
  <div class="col-sm-3">
    <button
      class="btn btn-primary"
      [disabled]="!canStartParty"
      (click)="startParty()"
    >
      let's play!
    </button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-primary" (click)="startParty()">
      MOCK let's play!
    </button>
  </div>
</div>
